<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Product List</h1>
    <div class="product-container">
        {% for product in products %}
        <div class="product-card">
            <img src="/static/images/Laptop.jpg" alt="Image of {{ product.name }}" class="product-image"> <!-- Updated image tag to use url_for -->

            <h2>{{ product.name }}</h2>
            <p>Category: {{ product.tag }}</p>
            <p>Price: ${{ '%.2f' | format(product.price) }}</p>
        </div>
        {% endfor %}
    </div>
    <footer class="footer text-center">
        <div class="container">
            <p class="text-light">&copy; 2024 Your Store. All rights reserved.</p>
            <ul class="list-unstyled">
                <li><a href="/terms" class="text-light">Terms of Service</a></li>
            </ul>
            <div class="social-icons">
                <a href="#" class="text-light mx-2"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#" class="text-light mx-2"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#" class="text-light mx-2"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </footer>
</body>
</html>
